<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/assets/static/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="/assets/static/gooder-logo.png" />
    <link rel="manifest" href="/assets/static/manifest.json" />
    <title>Laptop Recommendinator</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/styles/styles.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.15.1/css/all.css"
      type="text/css"
    />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>
    <script src="/assets/js/index.js" type="module"></script>
    <script src="/assets/js/socket.js" type="module"></script>
  </head>
  <body>
    <div id="background"></div>
    <form action="" method="POST">
      <div id="overlay" class="overlay"></div>
      <div id="container">
        <div id="title">
          <div id="adjust_icon">
            <i class="fas fa-adjust"></i>
          </div>
          <div id="chatbot_name">
            <span>Chatbot AI</span>
          </div>
          <div class="title-right-side">
            <div id="info-btn">
              <i class="fal fa-info-circle"></i>
            </div>
          </div>
          <div id="modal-info" class="modal-info-container">
            <div>Laptop Recommendinator</div>
          </div>
        </div>

        <div id="messages_display" class="scrollbar"></div>

        <div class="footer">
          <div id="modal" class="modal-container">
            <div class="modal-content scrollbar">
              <!--<div class="product-container">
                <div class="product-image"></div>
                <div class="product-info">
                  <div class="product-name">
                    Bàn phím máy tính Bàn phím máy tính Bàn phím máy tính
                  </div>
                  <div class="product-price">100.000đ</div>
                </div>
              </div>-->
              <div class="question_container">
                <div class="question_content">Hi em!</div>
              </div>
              <div class="question_container">
                <div class="question_content">Em ăn cơm chưa?</div>
              </div>
              <div class="question_container">
                <div class="question_content">Ngủ sớm vậy em?</div>
              </div>
              <div class="question_container">
                <div class="question_content">Anh rất chào em!</div>
              </div>
              <div class="question_container">
                <div class="question_content">Em muốn ăn gì nhỉ?</div>
              </div>
              <div class="question_container">
                <div class="question_content">Em ăn tối trưa?</div>
              </div>
              <div class="question_container">
                <div class="question_content">Em muốn chúng mình đi đâu?</div>
              </div>
              <div class="question_container">
                <div class="question_content">Em ơi xong chưa?</div>
              </div>
              <div class="question_container">
                <div class="question_content">"Cô ấy luôn luôn đúng và bạn là người sai."</div>
              </div>
            </div>
          </div>

          <div class="input">
            <div id="question_selection_button">
              <i class="fas fa-align-center"></i>
            </div>
            <input
              type="text"
              id="message"
              autocomplete="off"
              placeholder="Type a message"
            />
            <div id="send_icon">
              <input type="submit" value="" />
              <i class="fas fa-reply"></i>
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
